<h2>Create your Bank Account in One Click</h2>
<div class="container mt-5">
    <form name="form" #f="ngForm">
        <div class="row form-group">
            <div class="col-6">
                <label>Bank City</label>
            </div>
            <div class="col-6">
                <select  class="form-control" (change)="changeCity()" [(ngModel)]="city" name="BankCity">
                    <option value="default">---select---</option>
                    <option *ngFor="let a of banks">{{a.city}}</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-6">
                <label>Bank Name</label>
            </div>
            <div class="col-6">
                <select  class="form-control" (change)="changeBank()" [(ngModel)]="bankName" name="BankName">
                    <option value="default">---select---</option>
                    <option *ngFor="let a of banks2">{{a.bankName}}</option>
                </select>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-6">
                <label>Please select the bank of your Choice</label>
            </div>
            <div class="col-6">
                <select class="form-control" (change)="changeIfsc()" required [(ngModel)]="ifsc" name="Bank">
                    <option value="default">---select---</option>
                    <option *ngFor="let a of banks3">{{a.ifscCode}}</option>
                </select>
            </div>
        </div>

       

        
        <div>
            <button type="button" [disabled]="f.invalid" class="mt-5 btn btn-primary form-control" (click)="save()">Create
                Account</button>
        </div>
    </form>
</div>
